streamlit==1.44.1
tensorflow==2.16.1
pillow==10.2.0
requests==2.31.0
groq==0.4.2
deep-translator==1.11.4
numpy==1.24.3
pandas==2.2.3
opencv-python-headless==4.9.0.80
protobuf==4.25.2
ml_dtypes==0.3.2
